@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
}
.app,
.app-modal,
.app_drawer {
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 14px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: var(--border-radius-l);
  border: 1px solid var(--primary-color);
}
