@import "reset.scss";
@import "variables/global.scss";
@import "themes/normal.scss";
@import "themes/dark.scss";
@import "themes/orange.scss";

* {
  min-width: 0;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.app {
  background: var(--bg);
  min-height: 100svh;
  font: var(--font-m);
  color: var(--text);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--light-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon);
  border-radius: 20px;
  border: 1px solid var(--accent);
}

.app *::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

.app *::-webkit-scrollbar-track {
  background: var(--card-bg);
}

.app *::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 1px solid var(--primary-color);
}
