@import "reset.scss";
@import "variables/global.scss";
@import "themes/normal.scss";
@import "themes/dark.scss";
@import "themes/orange.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
}
.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.app,
.app-modal {
  color: var(--primary-color);
  background: var(--bg-color);
}

.app_drawer {
  color: var(--primary-color);
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 14px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: var(--border-radius-l);
  border: 1px solid var(--primary-color);
}
