.ConfirmForm {
}

.confirmBtn {
  margin-top: 12px;
  align-self: stretch;
}

.header {
  padding: 24px;

  background-color: var(--icon);
}

.title {
  margin: 0 auto;
}

.code {
  margin: 0 auto;
}
