.ArticleViewSelector {
  display: flex;
  gap: 12px;
  margin: 12px 0px;
  justify-content: flex-start;
}

.icon {
  fill: var(--secondary-color);
}
.selected {
  fill: var(--primary-color);
}
