.Button {
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.5s;
}

.Button:hover {
  opacity: 0.7;
}

.Button:active {
  opacity: 0.5;
}

.clear,
.clearInverted {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  padding: 8px 15px;
  border: 1px solid var(--inverted-primary-color);
  color: var(--inverted-primary-color);
  border-radius: var(--border-radius-l);
}

.outline_red {
  padding: 8px 15px;
  border: 1px solid var(--error-color-light);
  color: var(--error-color-light);
  border-radius: var(--border-radius-l);
}
.outlineInverted {
  padding: 8px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius-l);
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font-size: var(--font-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font-size: var(--font-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font-size: var(--font-line-l);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
