.ArticleListItem {
  min-width: 250px;

  .img {
    height: 420px;
  }
}

.list {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: 0.3s;
  overflow: hidden;

  &:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }
  .img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    transition: 0.3s;
  }
  .img:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .textBlock {
    height: 72px;
    overflow: hidden;
  }
}

.details {
  position: relative;
  width: 280px;
  height: 360px;
  overflow: hidden;
  display: flex;

  flex-direction: column;
  gap: 8px;

  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: 0.3s;
  overflow: hidden;

  &:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  .cardContent {
    height: 100%;
  }

  .img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    transition: 0.3s;
  }
  .img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .title {
    height: 100%;
  }
  .footer {
    width: auto;
    align-self: flex-end;
  }
}

.mobile {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: 0.3s;
  overflow: hidden;

  &:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }
  .img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    transition: 0.3s;
  }
  .img:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .textBlock {
    height: 72px;
    overflow: hidden;
  }
}
