.InputWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.placeholder {
  min-width: 120px;
  color: var(--primary-color);
}

.input {
  padding: 8px;
  width: 100%;

  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);

  border-radius: var(--border-radius-m);
}
.readonly {
  opacity: 0.7;
}
