.app_dark_theme {
  --dark-bg: #090f11;
  --bg: #1a2327;
  --light-bg: #161515;
  --transp-bg: #151c1fd8;
  --text: #dbdbdb;
  --hint: #555555;
  --cancel: #d95757;
  --save: #6cd98b;

  --icon: #74a2b2;
  --accent: #5ed3f3;
}
