.app_dark_theme {
  --dark-bg: #0e1518;

  --bg: #132329;
  --light-bg: #3c4a50;

  --transp-bg: #151c1fc4;

  --text: #dbdbdb;
  --hint: #555555;
  --cancel: #d95757;
  --save: #6cd98b;
  --icon: #74a2b2;
  --accent: #5ed3f3;
}
