.app_dark_theme {
  --bg-color: #023047;
  --inverted-bg-color: #f1faee;

  --primary-color: #8ecae6;
  --inverted-primary-color: #1d3557;

  --secondary-color: #48bbd8;
  --inverted-secondary-color: #457b9d;

  --skeleton-color: #8ecae6;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  --code-bg: #457b9d;

  --card-bg: #1d3557;

  --listbox-bg: #457b9d;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;
}
