.app.light {
    --bg-color: #f1faee;
    --inverted-bg-color: #023047;
    --primary-color: #1d3557;
    --secondary-color: #457b9d;
    --inverted-primary-color: #8ecae6;
    --inverted-secondary-color: #219ebc;
}
