.app_orange_theme {
  --dark-bg: #fff3d6;
  --bg: #f0c048;
  --light-bg: #f2d791;

  --transp-bg: #f2d791be;

  --text: #1b1311;
  --hint: #b8b2a2;
  --cancel: #ff5e5e;
  --save: #52fa81;

  --logo: #f0c048;

  --icon: #4875f0;
  --accent: #1d59ff;
}
