.Icon {
  color: var(--icon);
}

.normal {
  color: var(--icon);
}
.error {
  fill: var(--cancel);
}

.button {
  cursor: pointer;
  fill: var(--icon);

  opacity: 0.7;
  transition: all 0.3s;
}

.button:hover {
  color: var(--accent);
  opacity: 1;
}

.filled {
  fill: var(--icon);
}
