.Icon {
  color: var(--icon);
  fill: var(--icon);
}

.button {
  cursor: pointer;

  opacity: 0.8;
  transition: all 0.3s;
}

.button:hover .Icon {
  color: var(--accent);
  opacity: 1;
}
