.menu {
  background: var(--dark-bg);
  position: absolute;
  z-index: var(--modal-z-index);
  flex-direction: column;
  display: flex;
  min-width: 100px;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text);
  cursor: pointer;
  text-wrap: nowrap;
}
