.menu {
  background: var(--dark-bg);
  position: absolute;
  z-index: var(--modal-z-index);
  flex-direction: column;
  display: flex;
  min-width: 100px;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text);
  cursor: pointer;
  text-wrap: nowrap;
}

.enter {
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}

.enterFrom {
  transform: scale(0.7);
  opacity: 0;
}

.enterTo {
  transform: scale(1);
  opacity: 1;
}

.leave {
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

.leaveFrom {
  transform: scale(1);
  opacity: 1;
}

.leaveTo {
  transform: scale(0.7);
  opacity: 0;
}
