.Navbar {
  padding: 16px;
  border-radius: 24px 0 0 24px;
  background-color: var(--transp-bg);
}

.links,
.actions {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}
