.EditableArticleCard {
  margin-bottom: 40px;
  position: relative;
}

.ArticleEditTextBlockComponent {
  background-color: var(--dark-bg);
  padding: 12px;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--icon);
}
.ArticleEditImageBlockComponent {
  background-color: var(--dark-bg);
  padding: 12px;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--icon);
}
.ArticleEditCodeBlockComponent {
  background-color: var(--dark-bg);
  padding: 12px;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--icon);
}

.ButtonsWrapper {
  padding: 12px;
}

.iconRemoveBlock {
  fill: var(--cancel);

  right: 10px;
  bottom: 10px;
  opacity: 0.5;
  transition: all 0.5s;
}

.iconRemoveBlock:hover {
  opacity: 1;
}

.paragraphIcon {
  fill: var(--icon);
  opacity: 0.5;
  transition: all 0.5s;
}

.paragraphIcon:hover {
  opacity: 1;
}

.img {
  object-fit: cover;
  max-width: 500px;
}

.panel {
  position: fixed;

  bottom: 10px;

  z-index: var(--overlay-z-index);
  background-color: var(--dark-bg);
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--icon);
}

.panelIcon {
  align-self: center;
  justify-self: center;
  opacity: 0.7;
  transition: all 0.3s;
}
.panelIconDivider {
  fill: var(--icon);
  opacity: 0.5;
}

.panelIcon:hover {
  align-self: center;
  justify-self: center;
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-device-width: 600px) {
  .img {
    max-width: 100%;
  }
  .panel {
    left: 12px;
  }
}

@media screen and (min-width: 600px) {
  .panel {
    transform: translateX(50%);
  }
}
