.ProfileCard {
  padding: 20px;
  border: 1px solid var(--inverted-bg-color);
  border-radius: var(--border-radius-m);
}

.loading,
.error {
  height: 200px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
