.ProfileCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  border: 1px solid var(--inverted-bg-color);
  border-radius: var(--border-radius-m);
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

// .editing {
//   border: 1px solid var(--inverted-primary-color);
// }
