.InputWrapper {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 1px solid var(--icon);
  width: 100%;
}

.s {
  height: 32px;
}

.m {
  height: 38px;
}

.l {
  height: 44px;
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.focused {
  background-color: var(--dark-bg);
  border: 1px solid var(--accent);

  .addonLeft svg,
  .addonRight svg {
    color: var(--accent);
  }
}

.input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--text);
  background: none;

  &::placeholder {
    color: var(--hint);
  }
}

.readonly {
  opacity: 0.7;
}
.label {
  min-width: 80px;
}

.removeIcon {
  fill: var(--cancel);
  opacity: 0.5;
}
.removeIcon:hover {
  opacity: 1;
}
